<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
    <p th:text="${student.getName() + student.getAge()}">Value</p>
    <p th:text="${student.getEmail()}">Value</p>
    <p th:text="${student.getFaculty()}">Value</p>

    <a th:href="@{/student/{id}/edit(id=${student.getId()})}">edit</a>

    <form th:method="DELETE" th:action="@{/student/{id}(id=${student.getId()})}">
      <input type="submit" value="Delete"/>
    </form>
</body>
</html>